.NavBar-Blue
{
  padding: 10px 378px;
  background-color: #007BFF;
}

@media (max-width: 500px) {
    .NavBar-Blue
    {
      justify-content: space-between;
      align-content: center;
      padding: 10px 1000px;
    }
  }